@font-face { font-family: 'Squealer'; src: url(/assets/fonts/squealer.ttf); }
@font-face { font-family: 'Squirk'; src: url(/assets/fonts/squirk.otf); }

/* #region BASIC */
*{
    padding: 0px;
    margin: 0px;
}

html{
    background-image: url(/assets/images/background.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.copyright{
    padding-top: 2%;
    padding-bottom: 2%;

    color: white;
    text-align: center;
}

.dev_img{
    display: block;

    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;

    width: 10%;
}

.container{
    height: 100%;
    width: 100%;

    position: absolute;

    padding-top: 1.2%;
    padding-bottom: 1.2%;
    padding-left: 3.5%;
    padding-right: 3.5%;

    box-sizing: border-box;
    position: relative;
}
/* #endregion */

/* #region NAVBAR */
.general{
    width: 100%;
    height: 68px;
    
    background-color: rgba(0, 0, 0, 0.275);
    background-position: center;
    background-size: cover;

    border-radius: 25px;
    backdrop-filter: blur(8px);

    margin: auto;
    display: flex;
}

.navigation{
    width: 80%;
    height: 54px;
    
    background-color: rgba(0, 0, 0, 0.275);
    background-position: center;
    background-size: cover;

    backdrop-filter: blur(8px);
    
    display: flex;
    
    margin: auto;
    margin-top: 10px;

    border-radius: 25px;
}
/* #endregion */

/* #region GENERAL_ITEMS */
.title a{
    color: whitesmoke;

    font-family: 'Squirk';
    font-size: 32px;

    padding-left: 20px;
    text-decoration: none;
}

.time{
    float: right;

    color: white;
    padding-right: 20px;

    font-size: 32px;
    font-family: 'Arial';
}

.general nav{
    flex: 1;
    padding-left: 1px;
    padding-top: 17.5px;
}

.general nav ul li{
    margin: 0% 1%;

    display: inline-block;
    list-style: none;
}
/* #endregion */

/* #region NAVIGATION_ITEMS */
.nav-buttons{
    text-align: center;
    justify-content: center;
}

.navigation nav{
    flex: 1;
    padding-left: 1px;
    padding-top: 17.5px;
}

.navigation nav ul li{
    margin: 0% 1%;

    display: inline-block;
    list-style: none;
}

.navigation nav ul li{
    margin: 0% 1%;

    display: inline-block;
    list-style: none;
}

.navigation nav ul li a{
    font-family: 'Helvetica';
    font-size: 19px;

    text-decoration: none;
    color: whitesmoke;
}
/* #endregion */

/* #region CONTENT & POST */
.content nav{
    flex: 1;
    padding-top: 18px;
    padding-bottom: 18px;
    

    color:rgb(235, 235, 235);
    margin: 20px 20px;
}

.post{
    width: 80%;

    background-color: rgba(0, 0, 0, 0.275);
    background-position: center;
    background-size: cover;

    backdrop-filter: blur(10px);

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    margin: auto;
    margin-top: 1.25%;
    margin-bottom: 1.25%;
    
    font-size: 17px;
    font-family: 'Arial';
}

.post ul h1{
    font-family: 'Squealer';
    font-size: 40px;
}

.post ul h3{
    font-size: 18px;
}

.post ul p br{
    text-align: center;
}
/* #endregion */