body {
    min-height: 180vw;
}

#commit {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

#commit .container {
    border-radius: 10px;
    background: white;
    padding: 50px;
    margin: 10px;
}