body {
    min-height: 100vw;
}

#commits {
    grid-template-columns: 1fr 1fr;
}

.commit {
    padding: 80px;
    position: relative;

    background: #fff;
    border-radius: 10px;
}

#commits .container {
    border-radius: 10px;
    background: white;
    
    padding: 40px;
    margin-bottom: 10px;
}