* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
    background: whitesmoke;
    color: #333;
    overflow-x: hidden;
}

#showcase {
    height: 100vh;
    background: url(/assets/images/G_background.png) no-repeat center center/cover;
    background: linear-gradient(to right bottom, #4b4b4b, #ac995d)
}

.container {
    max-width: 1100px;
    margin: auto;
}